// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base        : 0.9rem;
$line-height-base      : 1.6;
$color-brown           : #EF2D56;
$color-orange          : #ED7D3A;
$color-vert            : #2FBF71;
$color-vert-50         : #8CD867;
$color-darkLight       : #363537;
